<div class="container d-flex justify-content-center">
  <form method="POST" action="/places">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="name" class="form-control" name="name">
    </div>
    <div class="form-group">
      <label for="address">Address</label>
      <input type="text" class="form-control" name="address" placeholder="St.stName 123">
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="city">City</label>
        <input type="text" class="form-control" name="city">
      </div>
      <div class="form-group col-md-6">
        <label for="zip">Zip</label>
        <input type="numbers" class="form-control" name="zip">
      </div>
      <div class="form-group col-md-4">
      <label for="category">Category:</label>
      <select id="category" name="category" class="form-control">
        <option selected>Choose...</option>
        <option>Restaurants</option>
        <option>Drink and Dance</option>
        <option>Useful</option>
      </select>
    </div>
    <div class="form-group">
    <label>Geolocation:</label>
  <input type="text" name="latitude" placeholder="latitude" >
  <input type="text" name="longitude" placeholder="longitude">
  </div>
  </div>
    <textarea class="form-group col-md-4" name="description" id="description" rows="3" placeholder="Describe the place"></textarea>
      <button type="create" class="btn btn-primary">Create</button>
  </form>
</div>