<h1 class="my-5">Find the place you need to go!</h1>

<button type="button" class="btn btn-outline-primary">Restaurants</button>
<button type="button" class="btn btn-outline-primary">Drink and Dance</button>
<button type="button" class="btn btn-outline-primary">Useful</button>