<h1 class="mt-5">This is <strong>{{name}} {{lastName}}'s</strong> Profile</h1>
<h5 class="mb-5">Your email: <strong>{{email}}</strong></h5>

<a class="btn btn-outline-primary" href="/edit-user" role="button">Edit Profile</a>
<a class="btn btn-outline-danger" href="/delete-user" role="button">Delete Profile</a>
