<div class="container d-flex justify-content-center">
  <div class="card p-2 border-dark" style="width: 25rem;">
    <img src="/images/logo_ironplaces.png" class="card-img-top mx-auto" alt="ironplaces-logo" style="width: 14rem;">
    <div class="card-body text-center">
      <h4 class="mb-4">Sign Up Form</h4>
      <form method="POST" action="/sign-up">
            <div class="form-group text-center">
                <label for="sign-up-name">Please enter your name:</label>
                <input  class="form-control text-center" type="text" name="name" required placeholder="Your name">
            </div>
            <div class="form-group text-center">
                <label for="sign-up-lastName">Your last name:</label>
                <input  class="form-control text-center" type="text" name="lastName" required placeholder="Your last name">
            </div>
            <div class="form-group text-center">
                <label for="sign-up-email" class="text-center">Your Email Address:</label>
                <input  class="form-control text-center" type="email" name="email" required placeholder="Your Email">
            </div>
            <div class="form-group text-center">
                <label for="sign-up-password" class="text-center">A Safe Password:</label>
                <input  class="form-control text-center" type="password" name="password" required placeholder="Password">
            </div>
            <div class="form-group">
          <label for="city form-control">City:</label>
          <select id="city" name="city" class="form-control" required>
            <option selected>Choose...</option>
            <option>Amsterdam</option>
            <option>Barcelona</option>
            <option>Berlin</option>
            <option>Lisbon</option>
            <option>Madrid</option>
            <option>Miami</option>
            <option>México City</option>
            <option>Paris</option>
            <option>São Paulo</option>
          </select>
        </div>
            <button type="submit" class="btn btn-dark">Sign Up</button>
        </form>
    </div>
  </div>
</div>