<div class="container">
<h1>IronPlaces Platform</h1>
<figure>
  <img src="" alt="">
</figure>
<form method="POST" action="/sign-in">
<div class="form-group">
  <label for="sign-up-email">Email: </label>
  <input type="email" name="email" placeholder="Your e-mail here!">
</div>
<div class="form-group">
<label for="sign-up-password">Password:</label>
<input type="password" name="password" placeholder="Your password here!">
</div>
<button class="btn btn-primary">Sign-in</button>
</form>
</div>