  
<h1>Sign Up</h1>
<form method="POST" action="/user/sign-up">
    <div class="form-group">
        <label for="sign-up-username">Username</label>
        <input type="text" name="username" placeholder="Your username">
    </div>
    <div class="form-group">
        <label for="sign-up-email">Email</label>
        <input type="email" name="email" placeholder="Your Email">
    </div>
    <div class="form-group">
        <label for="sign-up-password">Password</label>
        <input type="password" name="password" placeholder="A Safe Password">
    </div>
  <button>Sign Up</button>
</form>