<div class="container d-flex justify-content-center">
  <div class="card p-3 border-dark" style="width: 25rem;">
    <img src="/images/logo_ironplaces.png" class="card-img-top mx-auto" alt="ironplaces-logo" style="width: 14rem;">
    <div class="card-body text-center">
      <h4 class="mb-1">Find places around Ironhack</h4>
      <form method="POST" action="/sign-in">
        <div class="form-group my-4">
          <input type="email" name="email" placeholder="Email" class="form-control text-center">
        </div>
        <div class="form-group my-4">
          <input type="password" name="password" placeholder="Password" class="form-control text-center">
        </div>
        <button class="btn btn-primary">Sign-in</button>
      </form>
      <p class="my-2">Please enter your e-mail and password in order to access your private area.</p>
      <span> If you are not a user, click <a href="/sign-up">here</a> to Sign up.</span>
    </div>
  </div>
</div>