$font-sans: "Helvetica Neue", Helvetica, Arial, sans-serif;
$primary: #1D7BB4;
$danger: #b1b1b1;
$link-color: #1D7BB4;

@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import 'https://fonts.googleapis.com/css?family=Roboto&display=swap';

body {
  margin: 0;
  padding: 0px;
  font-family: $font-sans;
}

a {
  color: $link-color;
}

h1, h2, h3, h4, h5 {
  font-family: 'Roboto', sans-serif;
}

