$font-sans: "Helvetica Neue", Helvetica, Arial, sans-serif;
$primary: #1D7BB4;
$link-color: #00b7ff;

@import "../../node_modules/bootstrap/scss/bootstrap.scss";

body {
  margin: 0;
  padding: 50px;
  font-family: $font-sans;
}

a {
  color: $link-color;
}


